.time {
  display: flex;
  justify-content: center;
  min-width: 300px;
}

.picker {
  overflow-y: scroll;
  height: calc(3em * 3); 
  flex-grow: 1;

  scroll-snap-type: y mandatory;
}

.picker::before, .picker::after {
  height: 3em;
  display: block;
  content: "";
  scroll-snap-align: center;
}

.item:not(:first-child) {
}


.item {
  display: flex;
  flex-shrink: 0;
  height: 3em;

  scroll-snap-align: center;

  align-items: center;
  justify-content: center;

}