
.container {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0; 

  right: 0;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}


.background {
  background: rgba(0,0,0,0.6);
  position: absolute;
  top: 0; bottom: 0;
  right: 0; left: 0;
}

.modal {
  background: #434C5E;
  color: #D8DEE9;
  flex-shrink: 0;

  padding: 1em;
  border-radius: 1em 1em 0 0;
  z-index: 1;

  box-sizing: border-box;
}
