
.timeline {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 2rem;
	transition: opacity 0.3s;

	display: grid;
	grid-column-gap: 3rem;
	grid-template-columns: 60px 1fr auto;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.center > *:not(:last-child) {
	margin-right: 1rem;
}

.btn {
	background: #434C5E;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	white-space: nowrap;
	height: 60px;
	border: none;
}

.pill {
	position: relative;
	padding: 0rem 1.5rem;
}

.pill .cover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 100%;
	width: 100%;
	height: 30px;
	background: white;
	border: none;
	box-sizing: border-box;
	border-radius: 30px;
	text-align: center;
	margin-top: -30px;

	background: none;
	color: none;
	opacity: 0;
	margin-top: 0;
	bottom: 0;
	height: 100%;
}

.live {
}

.live span {
	padding-left: 1rem;
}

.circle {
	width: 60px;
}

.scrobber {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 70px;
	overflow: auto;
	overflow-y: hidden;
	align-items: center;
	display: flex;
}

.scrobber:after {
	content: "now";
	color: transparent;
	min-width: 50vw;
}

.scrobber:before {
	min-width: 50vw;
	content: "";
}

.slider {
	display: flex;
}

.day {
	background: white;
	display: flex;
	align-items: center;
	color: white;
	height: 3px;
	min-width: 100vw;
	position: relative;
}

.day canvas {
	position: absolute;
	bottom: 100%;
	outline: 1px solid white;
}
.day span {
	position: relative;
	top: -15px;
	left: 8px;
	font-size: 0.8em;	
}

.day:before {
	position: absolute;
	content: "";
	width: 12px;
	height: 12px;
	
	left: -6px;
	background: white;
	border-radius: 100%;
}


.day:after {
	position: absolute;
	content: "";
	width: 8px;
	height: 8px;
	
	left: -4px;
	background: black;
	border-radius: 100%;
}


.position {
	position: absolute;
	z-index: 100;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	bottom: 100%;
}

.bubble {
	background: #673AB7;
	height: 50px;
	padding: 0 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	color: white;
	margin: 0 15px;
}

.bubble:after {
	content: "";
	position: absolute;
	top: 100%;
	height: 80px;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	background: #673AB7;
}

.button {
	width: 50px;
	height: 50px;
	background: #673AB7;
	border-radius: 100%;
	font-size: 1.7em;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.hidden {
	/* opacity: 0; */
}

@media (hover: hover) {
  .button:hover {
		background: rgb(83, 43, 153);
	}
}
