.canvas canvas {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: all-scroll;
}

.container {
	overflow-x: auto;
	overflow-y: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	align-items: center;
	scrollbar-width: none;
	/* direction: rtl; */
}

.scroll {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 5em;
	margin: 0 0;
}

.scroll:before {
	content: "";
	background: #EB5757;
	display: block;
	height: 5px;
	width: 100%;
	border-radius: 5px;
}

.container::after, .container::before {
	content: "";
	min-width: calc(50vw);
	height: 5px;
	display: block;
}

.timeline {
	position: absolute;
	padding-bottom: calc(16px + (5em + 5px) / 2);
	left: 0;
	right: 0;
	bottom: 0;
	transition: opacity 0.3s;

	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #D8DEE9;
	background: #434C5E;
	padding: .8em;
	border-radius: 2.25em;
	margin-bottom: 1em;

	position: relative;

}

.center::after {
	content: "";
	border: 1em solid transparent;
	border-left-width: 0.8em;
	border-right-width: 0.8em;
	border-top-color: #434C5E;
	border-bottom-width: 0;
	position: absolute;
	top: 100%;
}

.center > *:not(:last-child) {
	margin-right: 1em;
}

.btn {
	background: #434C5E;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	white-space: nowrap;
	height: 60px;
	border: none;
}

.timewrapper {
	display: flex;
}

.timeoffset {
	background: #3B4252;
	height: 2.5em;
	border-radius: 1.25em 0 0 1.25em;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 calc(1em + 1.25em) 0 1em; 
	text-align: center;
	white-space: nowrap;
}
.timeoffset .live {
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}
.timeoffset .live:before {
	content: "";
	display: block;
	margin-right: .75em;
	width: 8px;
	height: 8px;
	margin-top: 1px;

	background: #EB5757;
	border-radius: 100%;
}

.timewrapper .timeoffset + .pill {
	margin-left: -1.25em;
}

.pill {
	position: relative;
	background: #545F75;
	height: 2.5em;
	padding: 0 2em;
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 1.25em;
	text-align: center;
	white-space: nowrap;
}

.pill.margin {
	padding: 0rem 3em;
}

.pill .cover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 100%;
	width: 100%;
	height: 30px;
	background: white;
	border: none;
	box-sizing: border-box;
	text-align: center;

	background: none;
	color: none;
	opacity: 0;
	margin-top: 0;
	bottom: 0;
	height: 100%;
}

.time {
	font-size: 1.25em;
}

.calendar {
	font-size: 1em;
}

.live {
}

.live span {
	padding-left: 1rem;
}

.circle {
	width: 3em;
}

.scrobber {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 3em;
	overflow: auto;
	overflow-y: hidden;
	align-items: center;
	display: flex;
}

.scrobber:after {
	content: "now";
	color: transparent;
	min-width: 50vw;
}

.scrobber:before {
	min-width: 50vw;
	content: "";
}

.slider {
	display: flex;
}

.day {
	background: white;
	display: flex;
	align-items: center;
	color: white;
	height: 3px;
	min-width: 100vw;
	position: relative;
}

.day canvas {
	position: absolute;
	bottom: 100%;
	outline: 1px solid white;
}
.day span {
	position: relative;
	top: -15px;
	left: 8px;
	font-size: 0.8em;	
}

.day:before {
	position: absolute;
	content: "";
	width: 12px;
	height: 12px;
	
	left: -6px;
	background: white;
	border-radius: 100%;
}


.day:after {
	position: absolute;
	content: "";
	width: 8px;
	height: 8px;
	
	left: -4px;
	background: black;
	border-radius: 100%;
}


.position {
	position: absolute;
	z-index: 100;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	bottom: 100%;
}

.bubble {
	background: #673AB7;
	height: 3em;
	padding: 0 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	color: white;
	margin: 0 15px;
}

.bubble:after {
	content: "";
	position: absolute;
	top: 100%;
	height: 80px;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	background: #673AB7;
}

.button {
	width: 3em;
	height: 3em;
	background: #673AB7;
	border-radius: 100%;
	font-size: 1.7em;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.hidden {
	/* opacity: 0; */
}

@media (hover: hover) {
  .button:hover {
		background: rgb(83, 43, 153);
	}
}

@media (max-width: 768px) {
	.main {
		font-size: 10px;
	}
}